<!doctype html>
<html class="no-js" lang="eng" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Restaurant Delivery - Mr. Delivery | Restaurants </title>
        <link rel="shortcut icon" href="images/plate-fork-and-knife.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->
        
        <!--Angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js" ></script>
        <script data-require="jquery@2.1.4" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
        <script type="text/javascript" src="/static/js/angular.js" th:src="@{/js/angular.js}"></script>
        
        <!--For Plugins external css-->
        <link rel="stylesheet" href="/css/plugins.css" />
        <link rel="stylesheet" href="/css/roboto-webfont.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/css/adminHome.css">
        <link rel="stylesheet" href="/css/pendingRequest.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/css/responsive.css" />

        <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <style>
            .switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
            }

            .switch input {display:none;}

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }

            input:checked + .slider {
              background-color: #2196F3;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
        </style>
        
    </head>
<body ng-app="myApp" ng-controller="mrDeliveryController">
        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index"><img src="/images/animated_logo.png" alt="animated_logo" width="200" height="40"/></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  
                    <ul class="nav navbar-nav navbar-right">
                        <li><bold><h5><a style="color: #000000"><span th:utext="${email}"></span></a><h5></bold></li>
                        <li class="login"><a th:href="@{/logout}" method="get">Log out</a></li>
                    </ul>
                 
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
            <!-- Sections -->
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-8">
                            <div class="social-icon">
                                <a th:href="@{/adminHome}" method="GET"><i class="fa fa-home" aria-hidden="true"> Admin Home </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a th:href="@{/pendingRequest}" method="GET" active><i class="fa fa-spinner"> Pending Requests </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a  th:href="@{/restaurants}" method="GET"><i class="fa fa-cutlery"> Restaurants </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a th:href="@{/orders}" method="GET"><i class="fa fa-shopping-basket">Orders</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>

        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">
                                    <h1><span>Orders</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>
        </header>
         
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <a href="#"><i class="fa fa-phone"></i>+512 649 1057</a>
                                <a href="#"><i class="fa fa-envelope"></i>contact@mrdelivery.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>
        
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Name</th>
                        <th>Order Description</th>
                        <th>Quantity</th>
                        <th>Item Price</th>
                        <th>Total</th>
                        <th>Delivery Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in AllOrders">
                        <td>{{ order.orderId }}</td>
                        <td>{{ order.itemName }}</td>
                        <td>{{ order.itemDesc }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.itemPrice }}</td>
                        <td>{{ order.total }}</td>
                        <td title="Change status to Delivered." style="color: darkorange; cursor: pointer; font-weight: bold;" ng-click="changeStatus(order)">{{order.status}}</td>
                        <td><a ng-click="deleteOrder(order)" id="button" class="fa fa-trash-o"> Delete Order</a></td>
                    </tr>
              </tbody>
            </table>
        </div>
        <!--End Modals-->

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <img src="/images/logo.png" alt="logo" />
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-sm-6">© 2017 Mr. Delivery ® Inc. All rights reserved.</div>
                </div>
            </div>
        </footer>
		
		
        <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <!--JAVASCRIPT-->
        <script src="/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/modernizr.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
